a<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="card-title">AI GST Auto-Filing</mat-card-title>
      <mat-card-subtitle>Login to your dashboard</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="text" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        
        <div *ngIf="error" class="text-danger error-text">{{ error }}</div>

        <button mat-raised-button color="primary" type="submit" [disabled]="loading || loginForm.invalid" class="login-button">
          <span *ngIf="!loading">Login</span>
          <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
