<div class="upload-container">
  <h1 class="page-title">Upload GST Invoice</h1>

  <mat-card class="upload-card">
    <mat-card-content>
      <div 
        class="drop-zone" 
        [class.dragover]="isDragOver"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
        (click)="fileInput.click()">
        
        <mat-icon class="upload-icon">cloud_upload</mat-icon>
        <h3>Drag & Drop your invoice here</h3>
        <p>or click to browse files (PDF, JPG, PNG)</p>
        
        <input 
          #fileInput 
          type="file" 
          multiple
          hidden 
          (change)="onFileSelected($event)" 
          accept=".pdf,.jpg,.jpeg,.png">
      </div>

      <div class="file-list" *ngIf="selectedFiles.length > 0">
        <div *ngFor="let file of selectedFiles; let i = index" class="file-info">
          <mat-icon>insert_drive_file</mat-icon>
          <span>{{ file.name }}</span>
          <button mat-icon-button color="warn" (click)="clearFile($event, i)" [disabled]="isUploading">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div class="upload-actions" *ngIf="selectedFiles.length > 0">
        <button mat-raised-button color="primary" (click)="uploadFiles()" [disabled]="isUploading">
          <span *ngIf="!isUploading">Upload & Process {{ selectedFiles.length > 1 ? selectedFiles.length + ' Invoices' : '' }}</span>
          <span *ngIf="isUploading">Processing OCR...</span>
        </button>
      </div>

      <mat-progress-bar mode="indeterminate" *ngIf="isUploading" class="upload-progress"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>
